@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model Stripe.Onboarding.Features.Connect.Models.Views.ConnectPage
<nav>
    <header>
        <hgroup>
            <h1>Embedded form</h1>
        </hgroup>
    </header>
</nav>

<section x-data="{
    userId: '@Model.UserId',
    stripe: null,
    loadingText: 'loading form..',
    loading: true,
    theme: {
        theme: 'night' ,
        // overlays: 'dialog' ,
        variables: {
            fontFamily: 'Sohne, system-ui, sans-serif',
            fontWeightNormal: '500',
            borderRadius: '8px',
            colorBackground: '#0A2540',
            colorPrimary: '#EFC078',
            accessibleColorOnColorPrimary: '#1A1B25',
            colorText: 'white',
            colorTextSecondary: 'white',
            colorTextPlaceholder: '#ABB2BF',
            tabIconColor: 'white',
            logoColor: 'dark'
        },
        rules: {
            '.Input': {
                backgroundColor: '#212D63',
                border: '1px solid var(--colorPrimary)'
            }
        }
    },
    <!-- Use Connect.js without npm -->
    <!-- https://docs.stripe.com/connect/get-started-connect-embedded-components#without-npm -->
    async init() {
        const self = this;
        self.loading = true;
        const fetchClientSecret = async () => {
            const response = await fetch('@Model.PostbackUrl', {
                method: 'POST',
            });
            const { clientSecret } = await response.json();
            return clientSecret;
        };
        var key = await fetchClientSecret();
        const theme = self.theme;

        StripeConnect.onLoad = () => {
            const stripeConnectInstance = StripeConnect.init({
                // This is your test publishable API key.
                publishableKey: '@Model.PublicKey',
                fetchClientSecret: fetchClientSecret,
                appearance: theme,
            });

            // create onboarding element
            const accountOnboarding = stripeConnectInstance.create('account-onboarding');
            
            // listen to step changes
            accountOnboarding.setOnStepChange((stepChange) => {
                console.log(`User entered: ${stepChange.step}`);
                console.log(stepChange);
                // cancel loader once loaded
                self.loading = false;
            });

            // listen to exits
            accountOnboarding.setOnExit(async () => {
                console.log('User exited the onboarding flow');
                var accountId = '@Model.AccountId';
                
                const status = await self.checkAccountStatus(accountId);
                // If useraccount onboarded, redirect to status page
                if(status === true) {
                    window.location.href = '@Model.RedirectUrl';
                }
            });

            // Mount onboarding element
            var container = document.getElementById('onboarding');
            container.appendChild(accountOnboarding);
            
        };  
    },
    async checkAccountStatus(accountId)
    {
        const accountStatusUrl = '@Model.PostbackUrl/status';
        
        const statusResponse = await fetch(accountStatusUrl, {
            method: 'POST',
        });
        
        const { status } = await statusResponse.json();
        return status;
    }
}">
    <article class="dense" 
        <header>
            <nav>
                @Model.PageTitle
            </nav>
        </header>
        <div x-show="loading" x-text="loadingText"></div>

        <div id="onboarding">
            <!-- Checkout will insert the connect form here -->
        </div>
        <footer>
            <nav>
                <ul>
                    <li>
                        <button>Back</button>
                    </li>
                </ul>
            </nav>
        </footer>
    </article>
</section>